.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
    width: 170px;
    gap: 5px;
}

.fail {
    color: red;
    background-color: rgba(220, 20, 60, 0.3);
    border-radius: 5px;
}

.success {
    color: green;
    background-color: rgba(0, 100, 0, 0.32);
    border-radius: 5px;
}